header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: rgba(2, 6, 23, 0.85);
  border-bottom: 1px solid rgba(255,255,255,.05);
}

.navbar{
  max-width: 1400px;
  margin: auto;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}

.logo span{
  background: linear-gradient(
    90deg,
    #38bdf8,
    #22c55e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a{
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
  transition: .3s;
}

.nav-links a:hover{
  color: #38bdf8;
}

.btn-nav{
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 10px;
  background: #38bdf8;
  color: white;
  font-weight: 600;
  transition: .3s;
}

.btn-nav:hover{
  background: #0ea5e9;
  transform: translateY(-2px);
}

.menu{
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
