<div class="services-container">
  <h2>Services</h2>
  <div class="service">
    <!-- Image du logo en webpack -->
    <div class="image">

    </div>
    <p class="titre"></p>
    <p class="description"></p>
  </div>

  <div class="service">
    <!-- Image du logo en webpack -->
    <div class="image">

    </div>
    <p class="titre"></p>
    <p class="description"></p>
  </div>

  <div class="service">
    <!-- Image du logo en webpack -->
    <div class="image">

    </div>
    <p class="titre"></p>
    <p class="description"></p>
  </div>
</div>
