<h2>Mes services</h2>
<div class="services-container">

  <div class="service">
    <!-- Image du logo en webpack -->
    <div class="image">
      <div class="im">

      </div>

    </div>
    <p class="titre">Création de sites web responsive</p>
    <p class="description"></p>
  </div>

  <div class="service">
    <!-- Image du logo en webpack -->
    <div class="image">

    </div>
    <p class="titre">Design graphique et branding</p>
    <p class="description"></p>
  </div>

  <div class="service">
    <!-- Image du logo en webpack -->
    <div class="image">

    </div>
    <p class="titre">Creation d’application mobile et deckstop</p>
    <p class="description"></p>
  </div>
</div>

