.presentation {
  background: #64c2ed;
  border-radius: 5px;
  width: 100%;
  height: 270px;
  font-size: 19px;
  margin-bottom: 50px;
  padding-top: 50px;
  background: linear-gradient(to right, #06139f, #0e0701);
  color: white;
}
.text{
  padding-top: 15px;
  padding-left: 20px;
}
.text span{
  position: absolute;
  justify-content: center;
}
.text_1{
  opacity: 0.0;
  font-size: 39px;
}
.text_2 {
  opacity: 0.0;
  font-size: 39px;
}
.text_3 {
  opacity: 0.0;
  font-size: 25px;
}
.btn-contacte{
  text-decoration: none;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: none;
  color: white;
  box-shadow: 1px 1px 1px #ffffff;
  background: #06139f;
  margin-left: 240px;
  margin-top: 100px;
}

@media  screen and (min-width: 924px) {
  .text_3{
    opacity: 1.0;
  }
}
