.nous-contacter_container {

}



.nous-contacter{
  background: #273b44;
  color: white;
  width: 100%;
  height: 300px;
}
.nous-contacter p{
  color: white;
  font-size: 14px;
  padding-left: 20px;
}
.coop{
  background: #181818;
  color: white;
  width: 100%;
  height: 30px;
}
