
.pourquoi-nous{
  border-radius: 5px;
  width: 100%;
  margin-bottom: 50px;

}

.reponse {
  font-size: 18px;
  color: #ffffff;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 5px 2px 15px #06139f;
  background: rgba(6, 19, 159, 0.3);
}

@media  screen and (min-width: 924px) {
  .pourquoi-nous{
    border-radius: 5px;
    width: 100%;

  }
  .reponse {
    font-size: 30px;
    color: #ffffff;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    box-shadow: 5px 2px 15px #06139f;
    background: rgba(6, 19, 159, 0.3);
  }
}
